@font-face {
  font-family: "Socialico";
  src: url("Socialico.otf");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-weight: 300;
  color: #818181;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.3; }

h1 {
  font-size: 32px;
  font-weight: 900;
  color: #444444; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #444444; }

#mini-bio a, #long-bio a, #contact-description a, .project-description a, #resume-full .column a {
  text-decoration: underline; }

p {
  padding-bottom: 1.5em; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute; }

.techs {
  padding-bottom: 32px; }

.tech {
  background-color: gainsboro;
  padding: 4px 4px 3px 6px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  margin-right: 6px;
  border-radius: 2px;
  line-height: 2.3; }

ul.inline-list li {
  display: inline;
  float: left; }

ul.small-spaced-links {
  color: darkgrey; }
  ul.small-spaced-links li {
    text-align: left;
    padding: 24px 40px 24px 40px;
    font-size: 13px;
    letter-spacing: 1px; }
  ul.small-spaced-links a:hover {
    color: #818181; }
  ul.small-spaced-links.left li {
    padding-left: 0; }
  ul.small-spaced-links.right li {
    padding-right: 0; }

.all-caps {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif; }

.heart {
  font-size: 18px; }

#header {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px; }
  #header #title {
    float: left; }
    #header #title h1 {
      letter-spacing: 2px;
      margin-top: 16px; }
  #header #bars {
    display: none;
    color: #444444; }
    #header #bars i {
      padding: 4px 5px 2px 5px;
      background-color: white; }
    #header #bars #close-nav {
      padding: 1px 7px 0 6px;
      background-color: white; }
  #header #navigation {
    float: right;
    margin-top: 4px; }

#mini-bio {
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 86px; }

.col-left {
  width: 60%;
  float: left;
  padding-right: 20px; }

.col-right {
  width: 40%;
  position: relative;
  float: left; }

.details h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px; }
.details .view-live {
  padding-bottom: 14px; }
  .details .view-live a {
    font-style: italic;
    letter-spacing: 0.04em;
    margin-bottom: 20px; }
.details .project-photo {
  width: 100%;
  height: 0;
  position: relative;
  margin-bottom: 10px;
  float: left; }
.details .col-left {
  width: 45%; }
.details .col-right {
  width: 55%; }

#long-bio .image-container {
  width: 100%;
  padding-bottom: 66.67%; }
#long-bio .inner {
  background-image: url("../images/profile2.jpg");
  opacity: 0.8;
  transition: opacity 0.2s linear; }
  #long-bio .inner:hover {
    opacity: 0.9; }

#filters ul li {
  font-size: 14px;
  margin-bottom: 26px; }
#filters a {
  padding-bottom: 6px; }
  #filters a.selected {
    border-bottom: 3px solid #818181;
    color: #818181; }

#projects li.project {
  width: 33.333%;
  height: 0;
  padding-bottom: 25%;
  position: relative;
  background-size: cover; }
  #projects li.project#traditional-art, #projects li.project #hurc {
    background-position: center; }
  #projects li.project .inner a, #projects li.project .inner .mask, #projects li.project .inner .info-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  #projects li.project .inner .mask {
    background-color: white;
    opacity: 0.25;
    transition: opacity 0.2s ease-in-out; }
  #projects li.project .inner a {
    text-align: center;
    vertical-align: middle;
    padding: 0 80;
    height: auto; }
  #projects li.project .inner .info-container {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.04em;
    width: 50%;
    max-height: 5em;
    margin: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out; }
  #projects li.project .inner .project-name {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase; }
  #projects li.project .inner .divider {
    width: 50px;
    border-bottom: 1px solid #818181;
    margin: 8px auto; }
  #projects li.project .inner .short-description {
    color: #999999; }
  #projects li.project:hover .mask {
    opacity: 0.9;
    background-color: #444444; }
  #projects li.project:hover .info-container {
    opacity: 1; }
  #projects li.project:nth-child(5n) {
    background-color: #fdf1cc; }
  #projects li.project:nth-child(5n+1) {
    background-color: #c6d6b8; }
  #projects li.project:nth-child(5n+2) {
    background-color: #987f69; }
  #projects li.project:nth-child(5n+3) {
    background-color: #e3ad40; }
  #projects li.project:nth-child(5n+4) {
    background-color: #fcd036; }
  @media screen and (max-width: 624px) {
    #projects li.project {
      width: 100%;
      padding-bottom: 75%; } }
  @media screen and (min-width: 625px) and (max-width: 1024px) {
    #projects li.project {
      width: 50%;
      padding-bottom: 37.5%; } }

#resume-full h2, #resume-full h3, #resume-full h4, #resume-full h5, #resume-full h6 {
  line-height: 1.4em; }
#resume-full h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #6cb39e; }
#resume-full h3 {
  font-size: 16px;
  font-weight: 400; }
#resume-full h4 {
  font-style: italic;
  font-size: 14px; }
#resume-full h5 {
  font-size: 13px;
  text-transform: uppercase;
  color: #bbbbbb; }
#resume-full p {
  font-size: 16px; }
#resume-full .col-left {
  padding-right: 50px;
  width: 63%; }
#resume-full .col-right {
  width: 37%; }
#resume-full #coursework {
  padding-top: 8px;
  padding-bottom: 14px;
  font-size: 16px;
  width: 200px; }
#resume-full #course-list {
  font-size: 16px;
  list-style: initial;
  margin: initial;
  padding-left: 40px;
  max-height: 260px;
  transition: 0.2s max-height linear;
  overflow: hidden; }
  #resume-full #course-list.ng-hide {
    max-height: 0; }
#resume-full #experience {
  padding-top: 14px; }
  #resume-full #experience h5 {
    padding-bottom: 12px; }
  #resume-full #experience h5 + p {
    padding-bottom: 32px; }
#resume-full #activities h4 {
  padding-bottom: 12px; }
#resume-full #pdf-container {
  display: block;
  margin-top: -52px;
  padding-bottom: 15px; }
  #resume-full #pdf-container #resume-pdf {
    text-transform: uppercase;
    background-color: gainsboro;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 0.04em;
    padding: 6px 8px;
    font-family: "Raleway", sans-serif;
    float: right; }
    #resume-full #pdf-container #resume-pdf:hover {
      border-color: #444444; }
#resume-full .show-hide {
  margin-right: 4px;
  padding: 0 5px 1px 5px;
  background-color: gainsboro;
  border-radius: 2px; }

#social-icons {
  font-size: 24px;
  padding-bottom: 30px; }
  #social-icons span {
    padding: 0 11px; }
    #social-icons span:first-of-type {
      padding-left: 0; }
    #social-icons span a {
      transition: color 0.1s linear; }
  #social-icons #quora {
    font-family: "Socialico";
    font-size: 32px;
    margin-top: 3px;
    position: relative;
    top: 3px; }
    #social-icons #quora:hover {
      color: #aa2200; }
  #social-icons #twitter:hover {
    color: #1dcaff; }
  #social-icons #instagram:hover {
    color: #517fa4; }
  #social-icons #tumblr:hover {
    color: #32506d; }
  #social-icons #pinterest:hover {
    color: #cb2027; }
  #social-icons #github:hover {
    color: #4183c4; }

form[name='emailForm'] input, form[name='emailForm'] textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  margin-top: 12px;
  padding: 8px;
  background-color: gainsboro;
  -webkit-appearance: none;
  border-radius: 0; }
form[name='emailForm'] input[type=submit] {
  background-color: #ababab;
  width: 120px;
  font-weight: 300; }
form[name='emailForm'] textarea {
  resize: vertical; }
form[name='emailForm'] input[type=text], form[name='emailForm'] input[type=email], form[name='emailForm'] textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  color: #818181;
  font-weight: 300; }
form[name='emailForm'] input[type=submit] {
  outline: 0; }
  form[name='emailForm'] input[type=submit]:active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); }
  form[name='emailForm'] input[type=submit].success {
    background-color: #a2e299; }
form[name='emailForm'] input[type=text]:focus, form[name='emailForm'] input[type=email]:focus, form[name='emailForm'] textarea:focus {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  color: #444444; }
form[name='emailForm'] input.ng-invalid:not(:focus).ng-dirty, form[name='emailForm'] input.ng-invalid:not(:focus).submitted, form[name='emailForm'] textarea.ng-invalid:not(:focus).ng-dirty, form[name='emailForm'] textarea.ng-invalid:not(:focus).submitted {
  box-shadow: inset 0 0 6px #fa787e;
  color: #fa787e; }
form[name='emailForm'] .error-message {
  font-size: 15px; }

#footer {
  padding-bottom: 60px; }

@media screen and (max-width: 624px) {
  body {
    font-size: 17px; }

  .container {
    padding: 0 20px; }

  #header {
    padding-top: 24px;
    padding-bottom: 40px; }
    #header #navigation.scrolled {
      top: 14px;
      right: 20px; }
    #header #navigation.expanded #bars {
      margin-right: 20px;
      margin-top: 14px; }

  #filters ul li {
    margin-bottom: 0;
    padding: 18px 30px 26px 0;
    font-size: 12px; }

  #projects {
    padding-bottom: 0; }

  .project-description {
    margin-bottom: 20px; }

  #mini-bio {
    font-size: 20px;
    padding-bottom: 10px; }

  #resume-full #pdf-container {
    display: block;
    margin-top: -6px;
    padding-bottom: 32px; }
    #resume-full #pdf-container #resume-pdf {
      float: left; }

  #long-bio {
    padding-bottom: 40px; }

  #footer {
    padding-bottom: 40px; } }
@media screen and (min-width: 625px) and (max-width: 1024px) {
  .container {
    padding: 0 40px; }

  #header {
    padding-bottom: 46px; }

  #mini-bio {
    padding-top: 22px;
    padding-bottom: 66px; }

  #long-bio {
    padding-bottom: 50px; }

  #navigation.scrolled {
    top: 19px;
    right: 40px; }
  #navigation.expanded #bars {
    margin-right: 40px;
    margin-top: 14px; }

  .project-description {
    margin-bottom: 30px; }

  #resume-full #pdf-container {
    display: block;
    margin-top: -46px;
    padding-bottom: 10px; } }
@media screen and (max-width: 1024px) {
  .col-left, .col-right {
    padding-right: 0 !important;
    width: 100% !important; }

  .image-container {
    padding-bottom: 66.67%; }

  #header #title {
    z-index: 999; }
  #header #navigation {
    z-index: 998;
    margin-top: 16px; }
    #header #navigation.scrolled {
      position: fixed;
      margin-top: 0; }
    #header #navigation #bars {
      display: block;
      float: right;
      font-size: 30px; }
    #header #navigation .inline-list {
      background-color: #444444;
      overflow: hidden;
      max-height: 0;
      display: none; }
      #header #navigation .inline-list li {
        float: none;
        text-align: center;
        padding: 0; }
        #header #navigation .inline-list li a {
          padding: 20px 0;
          display: block; }
          #header #navigation .inline-list li a:hover {
            color: white; }
    #header #navigation.expanded {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      margin-top: 0; }
      #header #navigation.expanded .inline-list {
        display: block;
        max-height: 300px; }

  #long-bio .col-left {
    padding-bottom: 24px; }

  #social-icons span {
    font-size: 24px; }
  #social-icons #quora {
    font-size: 32px; } }
@media screen and (min-width: 1025px) {
  .details .col-left {
    width: 432px; }
    .details .col-left.fixed {
      position: fixed;
      top: 60px; }
  .details .col-right {
    float: right; } }
