<div id="long-bio" class="clearfix">
	<div class="container clearfix">
		<div class="column col-left">
			<p>
				Hi there! I'm Diane, and I'm currently a junior at Harvard studying computer science. I'm originally from Stamford, CT (yes, the city where <a href="http://theoffice.wikia.com/wiki/Dunder_Mifflin_Stamford">The Office</a> took place). If I'm not psetting, you can probably find me
			</p>

			<p>
				Growing up, I was always known as the school math nerd, and I loved making things with my hands. I was also lucky to have a father who was good at math, and family friend who was a professional artist. Both of them really helped me develop my skills in those areas.
			</p>
			<p>
				As I got older, I got more interested in programming as I realized it was a way to combine my two interests. I started making websites when I was 9, when I learned HTML/CSS from tutorials on Neopets and picked up JavaScript on my own. Then in high school, I learned how to program in Python. I came to see programming is a way to use logic to make cool things.
			</p>
			<p>
				Fun facts about me:
			</p>
			<ul>
				<li>I have a <a href="https://www.youtube.com/watch?v=oG6lTQNW04I">theme song</a>.</li>
				<li>I published a children's book with my roommate. Click here to read more about it!</li>
				<li>My middle initial is X.</li>
			</ul>
		</div>
		<div class="column col-right">
			<div class="image-container">
				<div class="inner"></div>
			</div>
		</div>
	</div>
</div>