<div id="long-bio" class="clearfix">
	<div class="container clearfix">
		<div class="column col-left">

			<p>Hi there! I’m Diane Yang (not to be confused with <a href="https://www.youtube.com/watch?v=oG6lTQNW04I" target="_blank">Diane Young</a>). I’m currently a junior at Harvard studying Computer Science. I’m originally from Stamford, CT, also known as the city where <a href="http://theoffice.wikia.com/wiki/Dunder_Mifflin_Stamford" target="_blank">The Office</a> took place.</p>

			<p>Making things has always been a big part of my life: I loved building things as a child I studied fine art for 10 years before college. I’ve also always enjoyed logic and reasoning, and in school I was known as the math nerd. I was drawn to programming because it’s kind of like a combination of the two: using logic to make things.</p>

			<p>In my spare time, you can probably find me drawing, making music, or crossing another cafe off my <a href="https://foursquare.com/diane_xy/list/coffee-shops--cafes" target="_blank">bucket list of cute cafés to try</a>.</p>
		</div>
		<div class="column col-right">
			<div class="image-container">
				<div class="inner"></div>
			</div>
		</div>
	</div>
</div>