<div id="resume">
	<div class="container clearfix">

		<div id="pdf-container" class="clearfix">
			<a href="resume.pdf" id="resume-pdf">
				<i class="fa fa-download"></i> Download PDF
			</a>
		</div>

		<div class="col-left">
			<div id="education">
				<h2>Education</h2>
				<h3>Harvard University</h3>
				<h4>A.B. in Computer Science, expected May 2016</h4>
				<p>+ Coursework</p>
			</div>

			<div id="experience">
				<h2>Experience</h2>
				<h3>HubSpot</h3>
				<h4>Software Engineering Intern</h4>
				<h5>Summer 2014</h5>
				<p>Insert a description here once you actually feel like writing an entire paragraph of works. Copy text isn't easy, ok?</p>

				<h3>Teaching Assistant</h3>
				<h4>CS51: Abstraction and Design in Computation</h4>
				<h5>Spring 2014</h5>
				<p>Describe how you taught section and graded psets and all that good stuff. Lalala I need to make this paragraph look longer because mockup.</p>	
				<h3>HubSpot</h3>
				<h4>Software Engineering Intern</h4>
				<h5>Summer 2013</h5>
				<p>Insert a description here once you actually feel like writing an entire paragraph of works. Copy text isn't easy, ok?</p>	

				<h3>HSA Rover</h3>
				<h4>Staff Developer</h4>
				<h5>Fall 2012 - Spring 2014</h5>
				<p>Describe how you wrote apps and built things for clients and stuff like that. I'm so good at filling up space with words.</p>				
			</div>
		</div>
		<div class="col-right">
			<div id="skills">
				<h2>Skills</h2>
				<h3>Languages</h3>
				<p>Proficient: Python, OCaml, JavaScript, Coffeescript</p>
				<p>Prior experience: C, PHP, Java, SQL</p>

				<h3>Tools & Frameworks</h3>
				<p>Angular.js, Backbone.js, MongoDB, Django, Android SDK, jQuery, Heroku, Git</p>

				<h3>Design</h3>
				<p>HTML, CSS/Sass, Jade, Handlebars.js, Photoshop, Illustrator</p>

			</div>

			<div id="activities">
				<h2>Activities</h2>
				<h3>Hack Harvard</h3>
				<h4>Board Member</h4>
				<p>Organized stuff, publicized stuff, yeah basically Hack Harvard is just pretty cool.</p>

				<h3>Harvard Women in Computer Science</h3>
				<h4>WECode Organizer</h4>
				<p>Helped organize WiCS's first annual conference for women in computer science, held last February.</p>

				<p>P.S. Just in case anyone happens to see this, I'm just laying things out right now and will write real descriptions later :P</p>
			</div>
		</div>
	</div>
</div>