<div id="resume-full">
	<div class="container clearfix">

		<div id="pdf-container" class="clearfix">
			<a href="resume.pdf" id="resume-pdf">
				<i class="fa fa-download"></i> Download PDF
			</a>
		</div>

		<div class="column col-left">
			<div id="education">
				<h2>Education</h2>
				<h3>Harvard University</h3>
				<h4>A.B. in Computer Science, expected May 2016</h4>
				<div id="coursework" ng-click="showClasses = !showClasses" ng-init="showClasses=false">
					<span class="show-hide" ng-show="!showClasses">+</span> 
					<span class="show-hide" ng-show="showClasses">&ndash;</span> 
					Coursework
				</div>
				<ul id="course-list" ng-show="showClasses" ng-animate="fade">
					<li>CS 50: Introduction to Computer Science</li>
					<li>CS 51: Abstraction & Design in Computation</li>
					<li>CS 121: Theory of Computation</li>
					<li>CS 124: Data Structures & Algorithms</li>
					<li>CS 186: Economics & Computation</li>
					<li>Stat 110: Probability</li>
					<li>Math 21a: Multivariable Calculus & Differential Equations</li>
					<li>Math 21b: Linear Algebra</li>
				</ul>
			</div>

			<div id="experience">
				<h2>Experience</h2>
				<h3>Software Engineering Intern</h3>
				<h4>HubSpot</h4>
				<h5>Summer 2014</h5>
				<p>Front-end developer for the <a href="http://www.hubspot.com/products/content-optimization-system" target="_blank">Content Optimization System</a>, HubSpot's marketing-optimized blogging platform. Rewrote several dashboards from dynamic Django pages to faster, easier-to-use static Backbone.js apps. Project set to launch in September 2014 to over 5000 customers.</p>

				<h3>Teaching Assistant</h3>
				<h4>CS 51: Abstraction and Design in Computation</h4>
				<h5>Spring 2014</h5>
				<p>Taught weekly sections, held office hours, and graded psets, exams, and projects. Course material included functional programming and object-oriented programming in OCaml.</p>	

				<h3>Software Engineering Intern</h3>
				<h4>HubSpot</h4>
				<h5>Summer 2013</h5>
				<p>Built front-end and back-end features for initial launch of Content Optimization System. Wrote Python API endpoints and UI elements for managing blog settings. Enhanced Selenium integration test framework with page objects, which wrap pages in an API that makes tests more maintainable and easier to write.</p>	

				<h3>Staff Developer</h3>
				<h4>HSA Rover</h4>
				<h5>Fall 2012 - Spring 2014</h5>
				<p>Build websites and apps for clients in teams of two or three. Projects include <a href="work/get-prepped">Get Prepped</a>, a Windows Surface app to help students prepare for the SAT.</p>				
			</div>
		</div>
		<div class="column col-right">
			<div id="skills">
				<h2>Skills</h2>
				<h3>Languages</h3>
				<p>Proficient: Python, OCaml, JavaScript, Coffeescript</p>
				<p>Prior experience: C, PHP, Java, SQL</p>

				<h3>Tools & Frameworks</h3>
				<p>Angular.js, Backbone.js, MongoDB, Django, jQuery, Android, Heroku, Git</p>

				<h3>Design & Templating</h3>
				<p>HTML, CSS/Sass, Jade, Handlebars.js, Photoshop, Illustrator</p>

			</div>

			<div id="activities">
				<h2>Activities</h2>
				<h3>Harvard Women in Computer Science</h3>
				<h4>WECode Organizer</h4>
				<p>Spearheaded publicity for WiCS's first annual<a href="http://www.boston.com/business/innovation/blogs/inside-the-hive/2014/02/10/harvard-wecode-conference-welcomes-more-women-into-tech/jAlzh5KVabxMJQjhsjZa9N/blog.html" target="_blank"> conference for women in tech</a>. Communicated with CS organizations at other schools to attract nearly 300 attendees from across the Northeast. Worked with reporters to get coverage in major Boston publications.</p>

				<h3>Hack Harvard</h3>
				<h4>Board Member</h4>
				<p>Work with four other board members to build active tech entrepreneurship community at Harvard though events and speakers. Helped organize recruitment, mentorship, company visits, presentations, and press coverage for <a href="http://venturefizz.com/blog/hackharvard-hosts-hackweek-2014" target="_blank">HackWeek</a>, the club's flagship incubator for student coding projects.</p>
			</div>
		</div>
	</div>
</div>