<div id="mini-bio">
	<div class="container">
		<p>
			Software engineer at Duolingo and Harvard 2016. Artist with 10 years of formal training. Constantly looking for projects that tickle both sides of my brain.
		</p>
	</div>
</div>

<div id="filters" class="clearfix">
	<div class="container">
		<ul class="inline-list all-caps small-spaced-links left">
			<li id="{{filter.id}}" ng-repeat="filter in filters" ng-click="doFilter($event)">
				<a>{{filter.label}}</a>
			</li>
		</ul>
	</div>
</div>

<div id="projects" class="clearfix">
	<ul class="inline-list" isotope-container>
		<li ng-repeat="proj in projects" id={{proj.slug}} class="project {{proj.type}}" style="background-image: url('{{proj.image}}')" staggered-fade-in>
			<div class="inner">
				<div class="mask"></div>
				<a href="#/work/{{proj.slug}}">
					<div class="info-container">
						<span class="project-name">
							{{proj.name}}
						</span>
						<div class="divider"></div>
						<span class="short-description">
							{{proj.shortDescription}}
						</span>
					</div>
				</a>
			</div>
		</li>
	</ul>
</div>
