<div id="email" class="top-text">
	<div class="container clearfix">
		<div class="column col-left">
			<p>
				You can reach me at <a href="mailto:dianeyang@college.harvard.edu">dianeyang@college.harvard.edu</a>, or use the form below. You can also find me here:
			</p>

			<form novalidate name="emailForm" action="MAILTO:dianeyang@college.harvard.edu" method="post" enctype="text/plain">
				<input type="text" name="name" placeholder="Name" ng-model="email.senderName" ng-class="{touched: nameTouched}" ng-init="nameTouched = false" ng-focus="nameTouched = true" required>

				<input type="email" name="emailAddress" placeholder="Email" ng-model="email.senderEmail"ng-class="{touched: emailTouched}" ng-init="emailTouched = false" ng-focus="emailTouched = true"  required>

				<input type="text" name="subject" placeholder="Subject" ng-model="email.subject" ng-class="{touched: subjectTouched}" ng-init="subjectTouched = false" ng-focus="subjectTouched = true" required>

				<textarea name="message" rows="7" placeholder="Message" ng-model="email.message" ng-class="{touched: messageTouched}" ng-init="messageTouched = false" ng-focus="messageTouched = true" required></textarea>

				<input type="submit" value="Send">
			</form>
		</div>
		<div class="column col-right"></div>
	</div>
</div>