<div id="mini-bio" class="top-text">
	<div class="container">
		<p>
			Junior at Harvard studying computer science. Former software engineering intern at <a href="http://www.hubspot.com">HubSpot</a>. Loves code, design, and chai tea lattes. Feel free to check out my work below!
		</p>
	</div>
</div>

<div id="filters" class="clearfix">
	<div class="container">
		<ul class="inline-list all-caps small-spaced-links left">
			<li id="{{filter.id}}" ng-repeat="filter in filters" ng-click="doFilter($event)">
				<a>{{filter.label}}</a>
			</li>
		</ul>
	</div>
</div>

<div id="projects" class="clearfix">
	<ul class="inline-list" isotope-container>
		<li ng-repeat="proj in projects" class="project {{proj.type}}" staggered-fade-in>
			<div class="inner">
				<a href="/work/{{proj.slug}}"></a>
			</div>
		</li>
	</ul>
</div>
